.game {
    display: grid;
    min-height: 92dvh;
    grid-template-rows: auto 1fr auto;
}
.estadisticas {
    display: flex;
    justify-content: space-between;
}
.gameSpace {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.tablero {
    padding: 20px;
    min-width: 20px;
    min-height: 25px;
    text-align: center;
    border: 1px solid red;
}